body {
  background-color: #ccc;
}

img {
  margin: 5px;
}

button {
  font-size: 14pt;
}

.container {
  text-align: center;
}

.jumbotron {
  background-color: #1A0CE8;
  color: white;
  border: solid #FFF90D 5px;
  text-shadow: 2px 2px black;
}

#houseHandList {
  display: none;
}

#playerHandList {
  display: none;
}

#deal {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#gameBoard {
  display: none;
  background-color: #1B9B14;
  border: solid #FFF90D 5px;
  margin-bottom: 5px;
  color: white;
  text-shadow: 2px 2px black;
  border-radius: 25px;
}

#results {
  font-weight: bold;
  font-size: 14pt;
}

#hitButton {
  display: none;
}

#stayButton {
  display: none;
}
