img {
  margin: 5px;
}

button {
  font-size: 14pt;
}

.container {
  text-align: center;
}

#houseHandList {
  display: none;
}

#playerHandList {
  display: none;
}

#deal {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#gameBoard {
  display: none;
}

#results {
  font-weight: bold;
  font-size: 14pt;
}
